@tailwind base;
@tailwind components;
@tailwind utilities;

html{
font-size: 16px;
}

h1{
  font-size: 90.4px;
}

h2{
  font-size: 63.9px;
}

h3{
  font-size: 45.2px;
}

h4{
  font-size: 32px;
}

h5{
  font-size: 22.6px;
}

h6{
  font-size: 16px;
}

p{
  font-size: 11.3px;
}

@media screen and (max-width: 375px) {
  h1{
    font-size: 48.83px;
  }
  
  h2{
    font-size: 39.06px;
  }
  
  h3{
    font-size: 31.25px;
  }
  
  h4{
    font-size: 25px;
  }
  
  h5{
    font-size: 20px;
  }
  
  h6{
    font-size: 16px;
  }
  
  p{
    font-size: 12.8;
  }
}
